<div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
</div>

<section>
  <div class="example-button-row">
    <button (click)="update()" mat-stroked-button>Actualizar</button>
  </div>
</section>





