.map-container {
    height: 360px;
    padding: 13px;
  }
  
  .map-frame {
    border: 2px solid black;
    height: 100%;
  }
  
  #map {
    height: 100%;
  }

  section {
    display: table !important;
    margin: 8px !important;
  }
  
  .example-label {
    display: table-cell !important;
    font-size: 14px !important;
    margin-left: 8px !important;
    width: 120px !important;
  }
  
  .example-button-row {
    display: table-cell !important;
  }
  
  .example-button-row button {
    display: table-cell !important;
    margin-right: 8px !important;
  }