<div class="container text-center revistas">
  <h1>Listado de revistas</h1>

  <div class="row revistas">
    <div for="revista; index as i" class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ revista.name }}</h5>
          <a class="btn btn-primary btn-block" (click)="revistaClicked(i)"
            >Map it!</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
