<app-navbar></app-navbar>
<app-map></app-map>


<app-journal [journals]="revistas" (change)="onRevistaClicked($event.articulos , $event.citas)" ></app-journal>



<app-comparadora [articulos]="articulos" [citas]="cites" *if="clicked"></app-comparadora>
